<phpunit
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnSkippedTests="true"
        displayDetailsOnIncompleteTests="true"
        colors="true"
        testdox="true"
        bootstrap="bootstrap.php">
    <php>
        <const name="MEMCACHED_HOST" value="172.17.0.3" />
        <const name="MEMCACHED_PORT" value="11211" />
        <const name="DB_HOST" value="172.17.0.5" />
        <const name="DB_PORT" value="5432" />
        <const name="DB_DATABASE" value="postgres" />
        <const name="DB_USERNAME" value="postgres" />
        <const name="DB_PASSWORD" value="mock" />
        <const name="TRANSACTION_TABLE" value="transaction_%s" />
        <const name="TRANSACTION_DETAILS_TABLE" value="transaction_details_%s" />
        <const name="TRANSACTION_EVENTS_TABLE" value="transaction_events_%s" />
        <const name="TRANSACTION_RE_TABLE" value="transaction_re_%s" />
    </php>
    <testsuites>
        <testsuite name="temp_suite">
            <file>process/crawler/sendPaymentOutcome/T00030_WorkflowPaymentMod3New2TransferSPOOK.php</file>
        </testsuite>
        <testsuite name="crawler">
            <file>process/crawler/activatePaymentNotice/SingleEvent/T00001_CreateAttemptAllInfoInEvent.php</file>
            <file>process/crawler/activatePaymentNotice/SingleEvent/T00002_CreateAttemptNotAllInfoInEvent.php</file>
            <file>process/crawler/activatePaymentNotice/SingleEvent/T00003_CreatePaymentAllInfoInEvent.php</file>
            <file>process/crawler/activatePaymentNotice/SingleEvent/T00004_CreatePaymentNotAllInfoInEvent.php</file>
            <file>process/crawler/activatePaymentNotice/SingleEvent/T00005_CreateNoPaymentNoInfo.php</file>
            <file>process/crawler/activatePaymentNotice/SingleEvent/T00006_CreateAttemptAlreadyPresentInAnotherDayAllInfo.php</file>
            <file>process/crawler/activatePaymentNotice/SingleEvent/T00007_CreateAttemptAlreadyPresentInAnotherDayNotAllInfo.php</file>
            <file>process/crawler/activatePaymentNotice/SingleEvent/T00008_CreatePaymentAlreadyPresenteInAnotherDayAllInfoInEvent.php</file>
            <file>process/crawler/activatePaymentNotice/SingleEvent/T00009_CreatePaymentAlreadyPresenteInAnotherDayNotAllInfoInEvent.php</file>
            <file>process/crawler/activatePaymentNotice/BothEvents/T00011_CreateAttemptReqRespOneTransferAllInfoEvent.php</file>
            <file>process/crawler/activatePaymentNotice/BothEvents/T00012_CreateAttemptReqRespTwoTransferAllInfoEvent.php</file>
            <file>process/crawler/activatePaymentNotice/BothEvents/T00013_CreateAttemptReqRespOneTransferNotAllInfoEvent.php</file>
            <file>process/crawler/activatePaymentNotice/BothEvents/T00014_CreateAttemptReqRespTwoTransferNotAllInfoEvent.php</file>
            <file>process/crawler/activatePaymentNotice/BothEvents/T00015_CreatePaymentReqRespWithAllInfoAndFaultCode.php</file>
            <file>process/crawler/nodoInviaCarrelloRPT/SingleEvent/T00020_CreateAttemptOneRPTOneTransfer.php</file>
            <file>process/crawler/nodoInviaCarrelloRPT/SingleEvent/T00021_CreateAttemptOneRPTTwoTransfer.php</file>
            <file>process/crawler/nodoInviaCarrelloRPT/SingleEvent/T00022_CreateAttemptTwoRPTTwoTransfer.php</file>
            <file>process/crawler/nodoInviaCarrelloRPT/SingleEvent/T00023_CreateAttemptTwoRPTFirstRpt2TransferSecondRpt2Transfer1Bollo.php</file>
            <file>process/crawler/nodoInviaCarrelloRPT/BothEvents/T00024_CreateAttemptOneRPT1TransferSameData.php</file>
            <file>process/crawler/nodoInviaCarrelloRPT/BothEvents/T00025_CreateAttemptOneRPT2TransferSameData.php</file>
            <file>process/crawler/nodoInviaCarrelloRPT/BothEvents/T00026_CreateAttemptTwoRPTTwoTransferForRPTSameData.php</file>
            <file>process/crawler/nodoInviaCarrelloRPT/BothEvents/T00027_CreateAttemptTwoRPTTwoTransferForRPTWithResponseDifferentData.php</file>
            <file>process/crawler/nodoInviaCarrelloRPT/BothEvents/T00028_CreateAttemptOneRPTTwoTransferWithFaultCodeInResponse.php</file>
            <file>process/crawler/nodoInviaCarrelloRPT/BothEvents/T00029_CreateAttemptOneRPTTwoTransferWithSessionIdOriginalNotFound.php</file>
            <file>process/crawler/sendPaymentOutcome/T00030_WorkflowPaymentMod3New2TransferSPOOK.php</file>
        </testsuite>
        <testsuite name="unit_tests">
            <file>pagopa/database/SingleRowTest.php</file>
            <file>pagopa/methods/req/activatePaymentNoticeTest.php</file>
            <file>pagopa/methods/resp/activatePaymentNoticeTest.php</file>
            <file>pagopa/methods/req/nodoInviaCarrelloRPTTest.php</file>
            <file>pagopa/methods/resp/nodoInviaCarrelloRPTTest.php</file>
            <file>pagopa/events/req/activatePaymentNoticeTest.php</file>
            <file>pagopa/events/resp/activatePaymentNoticeTest.php</file>
            <file>pagopa/events/req/nodoInviaCarrelloRPTTest.php</file>
            <file>pagopa/events/resp/nodoInviaCarrelloRPTTest.php</file>
        </testsuite>
        <testsuite name="process">
            <file>process/normal/T0001.php</file>
            <file>process/normal/T0002.php</file>
            <file>process/normal/T0003.php</file>
            <file>process/normal/T0004.php</file>
            <file>process/normal/T0005.php</file>
            <file>process/normal/T0006.php</file>
            <file>process/normal/T0007.php</file>
            <file>process/normal/T0008.php</file>
            <file>process/normal/T0009.php</file>
            <file>process/normal/T0010.php</file>
            <file>process/normal/T0011.php</file>
            <file>process/normal/T0012.php</file>
            <file>process/normal/T0013.php</file>
            <file>process/normal/T0014.php</file>
            <file>process/normal/T0015.php</file>
            <file>process/normal/T0016.php</file>
            <file>process/normal/T0017.php</file>
            <file>process/normal/T0018.php</file>
            <file>process/normal/T0019.php</file>
            <!--<file>process/normal/TestAnalysisActivatePaymentNoticeReq.php</file>-->
            <!--<file>process/normal/TestAnalysisActivatePaymentNoticeResp.php</file>-->
        </testsuite>
        <testsuite name="cache_use">
            <file>process/cache/TestAnalysisActivatePaymentNoticeReq.php</file>
            <file>process/cache/TestAnalysisActivatePaymentNoticeResp.php</file>
        </testsuite>
    </testsuites>
</phpunit>