<phpunit
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnSkippedTests="true"
        displayDetailsOnIncompleteTests="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
        colors="true"
        testdox="true"
        bootstrap="bootstrap.php">
    <php>
        <const name="MEMCACHED_HOST" value="172.17.0.3" />
        <const name="MEMCACHED_PORT" value="11211" />
        <const name="DB_HOST" value="172.17.0.5" />
        <const name="DB_PORT" value="5432" />
        <const name="DB_DATABASE" value="postgres" />
        <const name="DB_USERNAME" value="postgres" />
        <const name="DB_PASSWORD" value="mock" />
    </php>
    <testsuites>
        <testsuite name="unit_test">
            <!-- request unit tests -->
            <file>ut/payload/req/activatePaymentNoticeTest.php</file>
            <file>ut/payload/req/verifyPaymentNoticeTest.php</file>

            <!-- response unit tests -->
            <file>ut/payload/resp/activatePaymentNoticeTest.php</file>
        </testsuite>
        <testsuite name="single_test">
            <file>ut/payload/resp/verifyPaymentNoticeTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>