<phpunit
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnSkippedTests="true"
        displayDetailsOnIncompleteTests="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
        requireCoverageMetadata="true"
        colors="true"
        testdox="true"
        bootstrap="bootstrap.php">
    <php>
        <const name="MEMCACHED_HOST" value="172.17.0.3" />
        <const name="MEMCACHED_PORT" value="11211" />
        <const name="DB_HOST" value="172.17.0.5" />
        <const name="DB_PORT" value="5432" />
        <const name="DB_DATABASE" value="postgres" />
        <const name="DB_USERNAME" value="postgres" />
        <const name="DB_PASSWORD" value="mock" />
    </php>
    <testsuites>
        <testsuite name="unit_test_payload">
            <file>payload/XmlParserTest.php</file>
            <file>payload/RequestXMLTest.php</file>
            <file>payload/ResponseXMLTest.php</file>

            <!-- request unit tests -->
            <file>payload/req/activatePaymentNoticeTest.php</file>
            <file>payload/req/verifyPaymentNoticeTest.php</file>

            <!-- response unit tests -->
            <file>payload/resp/activatePaymentNoticeTest.php</file>
            <file>payload/resp/verifyPaymentNoticeTest.php</file>
        </testsuite>
        <testsuite name="unit_test_event">
            <!-- request event unit tests -->
            <!-- response event unit tests -->
        </testsuite>
        <testsuite name="single_test">

        </testsuite>
    </testsuites>
    <coverage includeUncoveredFiles="false" pathCoverage="false">
        <report>
            <html outputDirectory="../trash/html-coverage" />
        </report>
    </coverage>
    <source>
        <include>
            <directory>../src/payload/</directory>
        </include>
        <exclude>
            <file>../src/payload/ParserInterface.php</file>
        </exclude>
    </source>
</phpunit>